{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
        {% for comment in comments %}

        <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ comment.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('app_comment_edit', {'id': comment.content}) }}" class="btn btn-primary">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
    {% endfor %}

{% endblock %}
