{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Boutique</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for produit in produits %}
            <div class="col">
                <div class="card">
                    <img src="{{ produit.photo }}" class="card-img-top " alt="{{ produit.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">Prix: {{ produit.prix }}</p>
                        <a href="{{ path('app_produits_show', {'id': produit.id}) }}" class="btn btn-primary">Voir détails</a>
                        <a href="{{ path('app_panier_add_produit', {'id': produit.id}) }}" class="btn btn-primary">Mettre au panier</a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_produits_edit', {'id': produit.id}) }}" class="btn btn-secondary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% else %}
            <p class="text-center">Aucun produit trouvé.</p>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mt-5">
            <a href="{{ path('app_produits_new') }}" class="btn btn-success">Créer un nouveau produit</a>
        </div>
    {% endif %}
{% endblock %}
